.container{
	margin:none;
	height: 100vh;
}
#img1{
    background-image: url('../img/1073257.jpg');
    background-size: cover;
}
#img2{
    background-image: url('../img/cropped-1440-900-481914.jpg');
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
    color: #333 !important;
}
#img3{
    background-image: url('../img/975819.jpg');
    background-size: cover;    
}
.memo{
    color: rgb(90, 88, 88)!important;
}
#carousel{
	height: 90vh;
}
.carousel-inner {
	width: 100%;
	display: inline-block;
	position: relative;
}
.carousel-inner {
	padding-top: 43.25%;
	display: block;
	content: "";
}
.carousel-item {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: skyblue;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.caption {
	position: absolute;
	top: 57%;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
	width: 60%;
	z-index: 9;
	margin-top: 20px;
	text-align: center;
}
.caption h1 {
  color: #fff;
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 1rem;
	margin-top: 2rem;
}
.caption h2 {
  color: rgba(75, 73, 73, 0.75);
	font-size: 2rem;
	font-weight: 900;
}
.btn {
	color: #fff;
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
	background: #6bb3e2 !important;
	padding: 1rem;
	border-radius: 3px;
	margin-top: 2rem;;
	display: inline-block;
}
.btn:hover {
	background: rgba(128, 129, 125, 0.9) !important;
}

.carousel-indicators .active {
  background: #fff;
}
.carousel-indicators li {
  background: rgba(255, 255, 255, 0.4);
  border-top: 20px solid;
  z-index: 15;
  margin-bottom: 1rem;
}