
/* Card */
.p-card {
	position: relative;
	width: 400px;
	height: 500px;
	background-color: #fff;
	border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
	color: #333;
}

/* Character Area */
.p-card > .character-area > img.character {
	position: absolute;
	height: 300px;
	top: -30px;
	left: 50%;
	transform: translate(-50%);
}

.p-card > .character-area {
	width: 100%;
	height: 225px;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


/* dracaufeu */
.p-card.fire { 
    box-shadow: 0 0 25px rgba(255, 100, 30, 0.55); 
}

.p-card.fire > .details > span { 
    color: #f55;
    margin-top: 1rem; 
}
.p-card.fire > .character-area { 
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2940219/Fire.jpg'); }
.p-card.fire > .stats {
	background: #f12711;
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);
	background: linear-gradient(to right, #f5af19, #f12711);
}


/* Effets background */
.moving-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2940219/Fog Bottom.png');
	background-size: 1000%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}


.col-12 {
	display: flex;
	align-items: center;
	justify-content: center;
}


.primary-content {
    background-color: rgba(0, 0, 0, 0.25);
}

.btn{
    background-color: #f5af19;
}

.btn:hover{
    background-color: #333 !important;
}