@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.menu {
    width: 250px;
    height: 100%;
    position:sticky;
    background-image: linear-gradient( 112.1deg, rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    transition: all 0.8s ease;
    transform: translateX(-250px);
    overflow: auto;
}
input#toggle:checked ~ .menu{
  transform: translateX(0px);
}
input#toggle {
    display: none;
}
input#toggle:checked ~ section.mad{
  margin-left: 250px;
}
section.mad{
  transition: all 0.8s ease;
  padding: 30px;
}
.profile_info {
    background-color: aqua;
    background-size: cover;
    background-position: left center;
    padding: 20px 20px 40px;
    text-align: center;
    clip-path: circle(97% at 50% 5%);
    color: #fff;
}
.profile_info img {
    width: 120px;
    border: 10px solid rgb(251 251 251 / 11%);
    border-radius: 100%;
}

.profile_info p{
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 8px;
}
.menu ul {
    list-style: none;
    margin-top: 15px;
}
.menu ul li {
    display: block;
    border-bottom: 1px solid #2c3f80;
}
.menu ul li a{
  padding:15px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}
.menu ul li a:before{
  content: '';
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100%;
  left: 0;
  top:0;
  transition: 0.9s ease all;
  background-image: radial-gradient( circle farthest-corner at 50.3% 44.5%,  rgba(116,147,179,1) 0%, rgba(62,83,104,1) 100.2% );
}
.menu ul li a:hover:before{
  width: 100%;
}

input#toggle {
    display: none;
}
.logo {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 8px;
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    padding-top: 5px;    
    margin-top: -50px;
    color: #fff;
    margin-left: 20px;
}
label.my-menu {
    float: right;
    padding: 10px;
    cursor: pointer;    
    margin-top: -50px;
    color: #fff;
    margin-right: 20px;
}

